# Ниже просто пример сценариеф использования

# Игнорируем каталоги build и временные файлы
/build/
/temp/

# Игнорируем файлы логов и окружения
*.log
.env

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Исключаем важный файл из игнорирования
!/config/settings.yml
